h1{
  color: #f8f8ff;
  background-color: rgb(245, 237, 125);
  border: 2pix rgb(245, 237, 125) solid;
  border-bottom-right-radius:24px;
  border-bottom-left-radius:24px;
  padding: 10px;
  margin: -7px;
  text-align: center;
}

li{
  color: rgb(241, 86, 15);
}

h4{
  color: #202022;
  background-color: white;
  border: 2pix white solid;
  border-top-right-radius:24px;
  border-top-left-radius:24px;
  padding: 10px;
  padding-bottom: 5%;
  margin: -7px;
  text-align: center;

}


body {
  background-color: rgb(197, 195, 195);
}

iframe{
   background: #ff9980;
   border: 2px #ff9980 solid;
   border-bottom-right-radius: 24px;
   border-bottom-left-radius: 24px;
   position:relative;
   padding-left: 400px;
   padding-right: 332px;
   padding-top:40px ;
   padding-bottom:40px ;
   margin-top: 3px;
   margin-left: -8px;
   margin-right: 20px;
   margin-bottom: 10px;
   width:436px ;
   height:260px;
   text-shadow: 2px 2px;




}
